.blue{
  height: 200px;
  background-color: blue;
  border: 2px solid black;
}
.green{
  height: 50px;
  background-color: green;
  border: 2px solid black;
}
.red{
  height: 300px;
  background-color: red;
  border: 2px solid black;
}
.turqoise{
  height: 300px;
  background-color: grey;
  border: 2px solid black;
}
.orange{
  height: 250px;
  background-color: orange;
  border: 2px solid black;
}
footer{
  background-color: black;
  height: 50px;
}


/*media queries*/
@media screen and (max-width: 400px) {
  footer {
    background-color: pink;
  }
}
@media screen and (min-width: 768px) {
  .blue {
    background-color: crimson;
  }
  .green {
    background-color: yellow;
  }
}
@media screen and (min-width: 450px) {
  .red {
    background-color: blue;
  }
  .turqoise {
    background-color: cyan;
  }
}
